@model RealEstateMVC.Models.Userscls
<form asp-action="insert_click" class="from-horizondal">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <input asp-for="ufname" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <input asp-for="ulname" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="email" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Phone</label>
        <input asp-for="phone" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">User Name</label>
        <input asp-for="username" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input asp-for="password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Insert" class="btn btn-success" />
    </div>
</form>

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]');
        </script>
    }
}
